*{
    padding: 0px;
    margin: 0px;
}

.Core-Java{
    height: 90vh;
    /* margin-top: 140px; */
    width: 100%;
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.table{
    padding: 15px;
    border: 2px solid black;
    font-size: 40px;
    
}
